@import "~bulma/sass/utilities/initial-variables"

// Config vars
$kaldi-red: #FD461E
$kaldi-red-invert: #fff

$primary: $kaldi-red
$primary-invert: $kaldi-red-invert

// Helper Classes
.full-width-image-container
  width: 100vw
  height: 700px
  position: relative
  left: 50%
  right: 50%
  margin: 0 -50vw
  background-size: cover
  background-position: bottom
  display: flex
  justify-content: center
  align-items: center

#footer
  padding: 3rem 1.5rem

.margin-top-0
  margin-top: 0 !important

@import "~bulma"

// Override
.section, #footer
  position: relative

.section#video
  padding-top: 0

#footer .socials img
  width: 2rem
  margin: 0 0.5rem
