@import "~bulma/sass/utilities/initial-variables"

// Config vars
$kaldi-red: #FD461E
$kaldi-red-invert: #fff

$primary: $kaldi-red
$primary-invert: $kaldi-red-invert

$menu-item-hover-background-color: none

// Helper Classes
.margin-top-0
  margin-top: 0 !important

.left-side
  width: 24vw
  height: 100vw
  position: fixed
  opacity: 0.3
  background-color: #FFFFFF
  z-index: 100

.menu
  position: fixed
  z-index: 100
  top: 3vw
  left: 7vw
  .logo
    padding: 0 0.75em 5em 0.75em

.full-width-image-container
  width: 100vw
  height: 700px
  position: relative
  left: 50%
  right: 50%
  margin: 0 -50vw
  background-size: cover
  background-position: bottom
  display: flex
  justify-content: center
  align-items: center

.section#video
  padding-top: 0

.service
  margin: 3em 0

#footer
  padding: 3rem 1.5rem
  position: relative
  .socials img
    width: 2em
    margin: 0 0.5em
  .content
    display: flex
    justify-content: space-between
    .data
      align-self: center

@import "~bulma"

// Override
.section
  position: relative
